# Dataset
Dataset/

# Large generated index
01_dataset_audit/results/integrity/master_index.csv

# Python
__pycache__/
*.py[cod]

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db